/* ***TopSoft*** */
/* it is mohmall project  *//* این پروژه ی محمل است */ 
/* this project make by top soft *//* این پروژه توسط مجموعه ی تاپ سافت ساخته شده است*/
/* copy&write by topsoft (2020) */
/* کپی و نشر فقط توسط مجموعه ی تاپ سافت مجاز می باشد (1399 هجری شمسی) */

/* رنگ های متن */
/* text colors */


/* رنگ قرمز  */
/* color reds */
.text-color-red-1{
    color: rgb(255, 0, 0);
}
.text-color-red-2{
    color: rgb(218, 0, 0);
}
.text-color-red-3{
    color: rgb(199, 0, 0);
}
.text-color-red-4{
    color: rgb(160, 0, 0);
}
.text-color-red-5{
    color: rgb(151, 2, 2);
}
.text-color-red-6{
    color: rgb(148, 1, 1);
}
.text-color-red-7{
    color: rgb(124, 0, 0);
}
.text-color-red-8{
    color: rgb(109, 0, 0);
}
.text-color-red-9{
    color: rgb(77, 1, 1);
}
.text-color-red-10{
    color: rgb(56, 0, 0);
}


/* رنگ سبز */
/* green colors*/
.text-color-green-1{
    color: rgb(51, 255, 0);
}
.text-color-green-2{
    color: rgb(18, 218, 0);
}
.text-color-green-3{
    color: rgb(40, 199, 0);
}
.text-color-green-4{
    color: rgb(13, 160, 0);
}
.text-color-green-5{
    color: rgb(19, 151, 2);
}
.text-color-green-6{
    color: rgb(1, 148, 1);
}
.text-color-green-7{
    color: rgb(25, 124, 0);
}
.text-color-green-8{
    color: rgb(18, 109, 0);
}
.text-color-green-9{
    color: rgb(16, 77, 1);
}
.text-color-green-10{
    color: rgb(9, 56, 0);
}


/* رنگ ابی روشن */
/* light blue colors */
.text-color-blue-1{
    color: rgb(0, 255, 221);
}
.text-color-blue-2{
    color: rgb(0, 218, 171);
}
.text-color-blue-3{
    color: rgb(0, 199, 156);
}
.text-color-blue-4{
    color: rgb(0, 160, 147);
}
.text-color-blue-5{
    color: rgb(2, 151, 126);
}
.text-color-blue-6{
    color: rgb(1, 148, 148);
}
.text-color-blue-7{
    color: rgb(0, 124, 107);
}
.text-color-blue-8{
    color: rgb(0, 109, 91);
}
.text-color-blue-9{
    color: rgb(1, 77, 67);
}
.text-color-blue-10{
    color: rgb(0, 56, 49);
}


/* رنگ ابی تیره  */
/* darkblue colors */
.text-color-darkblue-1{
    color: rgb(0, 110, 255);
}
.text-color-darkblue-2{
    color: rgb(0, 76, 218);
}
.text-color-darkblue-3{
    color: rgb(0, 93, 199);
}
.text-color-darkblue-4{
    color: rgb(0, 69, 160);
}
.text-color-darkblue-5{
    color: rgb(2, 67, 151);
}
.text-color-darkblue-6{
    color: rgb(1, 65, 148);
}
.text-color-darkblue-7{
    color: rgb(0, 58, 124);
}
.text-color-darkblue-8{
    color: rgb(0, 44, 109);
}
.text-color-darkblue-9{
    color: rgb(1, 34, 77);
}
.text-color-darkblue-10{
    color: rgb(0, 20, 56);
}


/* رنگ زرد  */
/* yellow colors */
.text-color-yellow-1{
    color: rgb(255, 238, 0);
}
.text-color-yellow-2{
    color: rgb(218, 196, 0);
}
.text-color-yellow-3{
    color: rgb(199, 179, 0);
}
.text-color-yellow-4{
    color: rgb(160, 144, 0);
}
.text-color-yellow-5{
    color: rgb(151, 136, 2);
}
.text-color-yellow-6{
    color: rgb(148, 138, 1);
}
.text-color-yellow-7{
    color: rgb(124, 116, 0);
}
.text-color-yellow-8{
    color: rgb(109, 102, 0);
}
.text-color-yellow-9{
    color: rgb(77, 59, 1);
}
.text-color-yellow-10{
    color: rgb(56, 46, 0);
}


/* رنگ صورتی */
/* pink colors */
.text-color-pink-1{
    color: rgb(255, 0, 242);
}
.text-color-pink-2{
    color: rgb(218, 0, 189);
}
.text-color-pink-3{
    color: rgb(199, 0, 189);
}
.text-color-pink-4{
    color: rgb(160, 0, 133);
}
.text-color-pink-5{
    color: rgb(151, 2, 139);
}
.text-color-pink-6{
    color: rgb(148, 1, 128);
}
.text-color-pink-7{
    color: rgb(120, 0, 124);
}
.text-color-pink-8{
    color: rgb(109, 0, 103);
}
.text-color-pink-9{
    color: rgb(77, 1, 77);
}
.text-color-pink-10{
    color: rgb(56, 0, 53);
}


/* رنگ بنفش */
/* purple colors */
.text-color-purple-1{
    color: rgb(174, 0, 255);
}
.text-color-purple-2{
    color: rgb(156, 0, 218);
}
.text-color-purple-3{
    color: rgb(152, 0, 199);
}
.text-color-purple-4{
    color: rgb(128, 0, 160);
}
.text-color-purple-5{
    color: rgb(121, 2, 151);
}
.text-color-purple-6{
    color: rgb(119, 1, 148);
}
.text-color-purple-7{
    color: rgb(78, 0, 124);
}
.text-color-purple-8{
    color: rgb(78, 0, 109);
}
.text-color-purple-9{
    color: rgb(49, 1, 77);
}
.text-color-purple-10{
    color: rgb(40, 0, 56);
}


/* رنگ قهوه ای  */
/* brown colors */
.text-color-brown-1{
    color: rgb(161, 91, 0);
}
.text-color-brown-2{
    color: rgb(146, 95, 0);
}
.text-color-brown-3{
    color: rgb(124, 85, 0);
}
.text-color-brown-4{
    color: rgb(112, 83, 2);
}
.text-color-brown-5{
    color: rgb(128, 83, 1);
}
.text-color-brown-6{
    color: rgb(121, 89, 2);
}
.text-color-brown-7{
    color: rgb(94, 72, 0);
}
.text-color-brown-8{
    color: rgb(71, 52, 0);
}
.text-color-brown-9{
    color: rgb(68, 45, 1);
}
.text-color-brown-10{
    color: rgb(36, 23, 0);
}


/* رنگ توسی */
/* gray colors */
.text-color-gray-1{
    color: rgb(201, 201, 201);
}
.text-color-gray-2{
    color: rgb(184, 184, 184);
}
.text-color-gray-3{
    color: rgb(136, 136, 136);
}
.text-color-gray-4{
    color: rgb(156, 156, 156);
}
.text-color-gray-5{
    color: rgb(110, 110, 110);
}
.text-color-gray-6{
    color: rgb(93, 95, 93);
}
.text-color-gray-7{
    color: rgb(72, 73, 72);
}
.text-color-gray-8{
    color: rgb(66, 66, 65);
}
.text-color-gray-9{
    color: rgb(49, 49, 49);
}
.text-color-gray-10{
    color: rgb(32, 32, 32);
}

/* copy&write by topsoft (2020) */
/* کپی و نشر فقط توسط مجموعه ی تاپ سافت مجاز می باشد (1399 هجری شمسی) */

/* سایز های متن  */
/* text sizes */

.font-size-1{
    font-size: 1px !important;
}

.font-size-2{
    font-size: 2px !important;
}

.font-size-3{
    font-size: 3px !important;
}

.font-size-4{
    font-size: 4px !important;
}

.font-size-5{
    font-size: 5px !important;
}

.font-size-6{
    font-size: 6px !important;
}

.font-size-7{
    font-size: 7px !important;
}

.font-size-8{
    font-size: 8px !important;
}

.font-size-9{
    font-size: 9px !important;
}

.font-size-10{
    font-size: 10px !important;
}

.font-size-11{
    font-size: 11px !important;
}

.font-size-12{
    font-size: 12px !important;
}

.font-size-13{
    font-size: 13px !important;
}

.font-size-14{
    font-size: 14px !important;
}

.font-size-15{
    font-size: 15px !important;
}

.font-size-16{
    font-size: 16px !important;
}

.font-size-17{
    font-size: 17px !important;
}

.font-size-18{
    font-size: 18px !important;
}

.font-size-19{
    font-size: 19px !important;
}

.font-size-20{
    font-size: 20px !important;
}

.font-size-21{
    font-size: 21px !important;
}

.font-size-22{
    font-size: 22px !important;
}

.font-size-23{
    font-size: 23px !important;
}

.font-size-24{
    font-size: 24px !important;
}

.font-size-25{
    font-size: 25px !important;
}

.font-size-26{
    font-size: 26px !important;
}

.font-size-27{
    font-size: 27px !important;
}

.font-size-28{
    font-size: 28px !important;
}

.font-size-29{
    font-size: 29px !important;
}

.font-size-30{
    font-size: 30px !important;
}

.font-size-31{
    font-size: 31px !important;
}

.font-size-32{
    font-size: 32px !important;
}

.font-size-33{
    font-size: 33px !important;
}

.font-size-34{
    font-size: 34px !important;
}

.font-size-35{
    font-size: 35px !important;
}

.font-size-35{
    font-size: 35px !important;
}

.font-size-36{
    font-size: 36px !important;
}

.font-size-37{
    font-size: 37px !important;
}

.font-size-38{
    font-size: 38px !important;
}

.font-size-39{
    font-size: 39px !important;
}

.font-size-40{
    font-size: 40px !important;
}
.font-size-41{
    font-size: 41px !important;
}

.font-size-42{
    font-size: 42px !important;
}

.font-size-43{
    font-size: 43px !important;
}

.font-size-44{
    font-size: 44px !important;
}

.font-size-45{
    font-size: 45px !important;
}

.font-size-46{
    font-size: 46px !important;
}

.font-size-47{
    font-size: 47px !important;
}

.font-size-48{
    font-size: 48px !important;
}

.font-size-49{
    font-size: 49px !important;
}

.font-size-50{
    font-size: 50px !important;
}
.font-size-51{
    font-size: 51px !important;
}
.font-size-52{
    font-size: 52px !important;
}
.font-size-53{
    font-size: 53px !important;
}
.font-size-54{
    font-size: 54px !important;
}
.font-size-55{
    font-size: 55px !important;
}
.font-size-56{
    font-size: 56px !important;
}
.font-size-57{
    font-size: 57px !important;
}
.font-size-58{
    font-size: 58px !important;
}
.font-size-59{
    font-size: 59px !important;
}
.font-size-60{
    font-size: 60px !important;
}
.font-size-61{
    font-size: 61px !important;
}
.font-size-62{
    font-size: 62px !important;
}
.font-size-63{
    font-size: 63px !important;
}
.font-size-64{
    font-size: 64px !important;
}
.font-size-65{
    font-size: 65px;
}
.font-size-66{
    font-size: 66px;
}
.font-size-67{
    font-size: 67px;
}
.font-size-68{
    font-size: 68px;
}
.font-size-69{
    font-size: 69px;
}
.font-size-70{
    font-size: 70px;
}
.font-size-71{
    font-size: 71px;
}
.font-size-72{
    font-size: 72px;
}
.font-size-73{
    font-size: 73px;
}
.font-size-74{
    font-size: 74px;
}
.font-size-75{
    font-size: 75px;
}
.font-size-76{
    font-size: 76px;
}
.font-size-77{
    font-size: 77px;
}
.font-size-78{
    font-size: 77px;
}
.font-size-79{
    font-size: 79px;
}
.font-size-80{
    font-size: 80px;
}
.font-size-81{
    font-size: 81px;
}
.font-size-82{
    font-size: 82px;
}
.font-size-83{
    font-size: 83px;
}
.font-size-84{
    font-size: 84px;
}
.font-size-85{
    font-size: 85px;
}
.font-size-86{
    font-size: 86px;
}
.font-size-87{
    font-size: 87px;
}
.font-size-88{
    font-size: 88px;
}
.font-size-89{
    font-size: 89px;
}
.font-size-90{
    font-size: 90px;
}
.font-size-91{
    font-size: 91px;
}
.font-size-92{
    font-size: 92px;
}
.font-size-93{
    font-size: 93px;
}
.font-size-94{
    font-size: 94px;
}
.font-size-95{
    font-size: 95px;
}
.font-size-96{
    font-size: 96px;
}
.font-size-97{
    font-size: 97px;
}
.font-size-98{
    font-size: 98px;
}
.font-size-99{
    font-size: 99px;
}
.font-size-100{
    font-size: 100px;
}

/* copy&write by topsoft (2020) */
/* کپی و نشر فقط توسط مجموعه ی تاپ سافت مجاز می باشد (1399 هجری شمسی) */

/* رنگ بکگراند ها */
/* background colors */


/* رنگ قرمز  */
/* color reds */
.background-color-red-1{
    background-color: rgb(255, 0, 0);
}
.background-color-red-2{
    background-color: rgb(218, 0, 0);
}
.background-color-red-3{
    background-color: rgb(199, 0, 0);
}
.background-color-red-4{
    background-color: rgb(160, 0, 0);
}
.background-color-red-5{
    background-color: rgb(151, 2, 2);
}
.background-color-red-6{
    background-color: rgb(148, 1, 1);
}
.background-color-red-7{
    background-color: rgb(124, 0, 0);
}
.background-color-red-8{
    background-color: rgb(109, 0, 0);
}
.background-color-red-9{
    background-color: rgb(77, 1, 1);
}
.background-color-red-10{
    background-color: rgb(56, 0, 0);
}


/* رنگ سبز */
/* green colors*/
.background-color-green-1{
    background-color: rgb(51, 255, 0);
}
.background-color-green-2{
    background-color: rgb(18, 218, 0);
}
.background-color-green-3{
    background-color: rgb(40, 199, 0);
}
.background-color-green-4{
    background-color: rgb(13, 160, 0);
}
.background-color-green-5{
    background-color: rgb(19, 151, 2);
}
.background-color-green-6{
    background-color: rgb(1, 148, 1);
}
.background-color-green-7{
    background-color: rgb(25, 124, 0);
}
.background-color-green-8{
    background-color: rgb(18, 109, 0);
}
.background-color-green-9{
    background-color: rgb(16, 77, 1);
}
.background-color-green-10{
    background-color: rgb(9, 56, 0);
}


/* رنگ ابی روشن */
/* light blue colors */
.background-color-blue-1{
    background-color: rgb(0, 255, 221);
}
.background-color-blue-2{
    background-color: rgb(0, 218, 171);
}
.background-color-blue-3{
    background-color: rgb(0, 199, 156);
}
.background-color-blue-4{
    background-color: rgb(0, 160, 147);
}
.background-color-blue-5{
    background-color: rgb(2, 151, 126);
}
.background-color-blue-6{
    background-color: rgb(1, 148, 148);
}
.background-color-blue-7{
    background-color: rgb(0, 124, 107);
}
.background-color-blue-8{
    background-color: rgb(0, 109, 91);
}
.background-color-blue-9{
    background-color: rgb(1, 77, 67);
}
.background-color-blue-10{
    background-color: rgb(0, 56, 49);
}


/* رنگ ابی تیره  */
/* darkblue colors */
.background-color-darkblue-1{
    background-color: rgb(0, 110, 255);
}
.background-color-darkblue-2{
    background-color: rgb(0, 76, 218);
}
.background-color-darkblue-3{
    background-color: rgb(0, 93, 199);
}
.background-color-darkblue-4{
    background-color: rgb(0, 69, 160);
}
.background-color-darkblue-5{
    background-color: rgb(2, 67, 151);
}
.background-color-darkblue-6{
    background-color: rgb(1, 65, 148);
}
.background-color-darkblue-7{
    background-color: rgb(0, 58, 124);
}
.background-color-darkblue-8{
    background-color: rgb(0, 44, 109);
}
.background-color-darkblue-9{
    background-color: rgb(1, 34, 77);
}
.background-color-darkblue-10{
    background-color: rgb(0, 20, 56);
}


/* رنگ زرد  */
/* yellow colors */
.background-color-yellow-1{
    background-color: rgb(255, 238, 0);
}
.background-color-yellow-2{
    background-color: rgb(218, 196, 0);
}
.background-color-yellow-3{
    background-color: rgb(199, 179, 0);
}
.background-color-yellow-4{
    background-color: rgb(160, 144, 0);
}
.background-color-yellow-5{
    background-color: rgb(151, 136, 2);
}
.background-color-yellow-6{
    background-color: rgb(148, 138, 1);
}
.background-color-yellow-7{
    background-color: rgb(124, 116, 0);
}
.background-color-yellow-8{
    background-color: rgb(109, 102, 0);
}
.background-color-yellow-9{
    background-color: rgb(77, 59, 1);
}
.background-color-yellow-10{
    background-color: rgb(56, 46, 0);
}


/* رنگ صورتی */
/* pink colors */
.background-color-pink-1{
    background-color: rgb(255, 0, 242);
}
.background-color-pink-2{
    background-color: rgb(218, 0, 189);
}
.background-color-pink-3{
    background-color: rgb(199, 0, 189);
}
.background-color-pink-4{
    background-color: rgb(160, 0, 133);
}
.background-color-pink-5{
    background-color: rgb(151, 2, 139);
}
.background-color-pink-6{
    background-color: rgb(148, 1, 128);
}
.background-color-pink-7{
    background-color: rgb(120, 0, 124);
}
.background-color-pink-8{
    background-color: rgb(109, 0, 103);
}
.background-color-pink-9{
    background-color: rgb(77, 1, 77);
}
.background-color-pink-10{
    background-color: rgb(56, 0, 53);
}


/* رنگ بنفش */
/* purple colors */
.background-color-purple-1{
    background-color: rgb(174, 0, 255);
}
.background-color-purple-2{
    background-color: rgb(156, 0, 218);
}
.background-color-purple-3{
    background-color: rgb(152, 0, 199);
}
.background-color-purple-4{
    background-color: rgb(128, 0, 160);
}
.background-color-purple-5{
    background-color: rgb(121, 2, 151);
}
.background-color-purple-6{
    background-color: rgb(119, 1, 148);
}
.background-color-purple-7{
    background-color: rgb(78, 0, 124);
}
.background-color-purple-8{
    background-color: rgb(78, 0, 109);
}
.background-color-purple-9{
    background-color: rgb(49, 1, 77);
}
.background-color-purple-10{
    background-color: rgb(40, 0, 56);
}


/* رنگ قهوه ای  */
/* brown colors */
.background-color-brown-1{
    background-color: rgb(161, 91, 0);
}
.background-color-brown-2{
    background-color: rgb(146, 95, 0);
}
.background-color-brown-3{
    background-color: rgb(124, 85, 0);
}
.background-color-brown-4{
    background-color: rgb(112, 83, 2);
}
.background-color-brown-5{
    background-color: rgb(128, 83, 1);
}
.background-color-brown-6{
    background-color: rgb(121, 89, 2);
}
.background-color-brown-7{
    background-color: rgb(94, 72, 0);
}
.background-color-brown-8{
    background-color: rgb(71, 52, 0);
}
.background-color-brown-9{
    background-color: rgb(68, 45, 1);
}
.background-color-brown-10{
    background-color: rgb(36, 23, 0);
}


/* رنگ توسی */
/* gray colors */
.background-color-gray-1{
    background-color: rgb(201, 201, 201);
}
.background-color-gray-2{
    background-color: rgb(184, 184, 184);
}
.background-color-gray-3{
    background-color: rgb(136, 136, 136);
}
.background-color-gray-4{
    background-color: rgb(156, 156, 156);
}
.background-color-gray-5{
    background-color: rgb(110, 110, 110);
}
.background-color-gray-6{
    background-color: rgb(93, 95, 93);
}
.background-color-gray-7{
    background-color: rgb(72, 73, 72);
}
.background-color-gray-8{
    background-color: rgb(66, 66, 65);
}
.background-color-gray-9{
    background-color: rgb(49, 49, 49);
}
.background-color-gray-10{
    background-color: rgb(32, 32, 32);
}


/* copy&write by topsoft (2020) */
/* کپی و نشر فقط توسط مجموعه ی تاپ سافت مجاز می باشد (1399 هجری شمسی) */

